@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Chewy");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

h2 {
  font-size: 25px;
  text-transform: uppercase; }

p {
  font-size: 15px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

section > .container {
  margin: 50px auto; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both; }

[class*="col"] {
  float: left;
  padding: 10px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

/*HEADER */
header {
  background-color: #313234;
  min-height: 50px; }

nav > ul > li {
  display: inline-block; }

header > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }
  header > nav > ul > li > a {
    display: block;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 50px;
    color: #FFF;
    text-decoration: none; }
    header > nav > ul > li > a:hover {
      background-color: #47494c;
      color: #FFF;
      text-decoration: none; }
header > nav > img {
  padding: 10px 0; }

/*HERO */
.hero {
  width: 100%;
  height: 400px;
  background-image: url(https://images.pexels.com/photos/257897/pexels-photo-257897.jpeg?h=350&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-attachment: fixed; }

.slogan {
  background: rgba(76, 76, 78, 0.9);
  float: right;
  height: 144px;
  max-width: 800px;
  top: 50%;
  margin-top: -72px;
  position: relative;
  color: #FFF;
  padding: 35px 5px; }

/*BENEFITS */
.benefits {
  text-align: center; }

.icon-btn {
  content: "";
  width: 70px;
  height: 70px;
  border: 0;
  background-color: #4099FF;
  color: #FFF;
  margin: 0;
  border-radius: 10%;
  font-size: 35px; }

.benefits .icon-btn {
  background-color: #313234;
  text-align: center; }
  .benefits .icon-btn:hover {
    background-color: #4099FF;
    cursor: pointer; }
.benefits h2:hover {
  color: #4099FF;
  cursor: pointer; }
.benefits .icon:hover .icon-btn {
  background-color: #4099FF; }
.benefits .icon:hover h2 {
  color: #4099FF; }

/*WORK */
.work {
  text-align: center; }

/*GALLERY */
.picture {
  padding: 0;
  position: relative; }
  .picture img {
    width: 100%;
    height: 16.16vw;
    object-fit: cover; }

.layer {
  width: 100%;
  height: 16.16vw;
  top: 0;
  left: 0;
  background: rgba(228, 228, 240, 0.5);
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center; }

.icons {
  top: 50%;
  margin-top: -12px;
  position: relative; }
  .icons .fa {
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    border-radius: 7%;
    background-color: #FFF;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    position: relative;
    border-radius: 7%;
    padding: 7px 0;
    font-size: 13px; }
    .icons .fa:hover {
      background-color: rgba(76, 76, 78, 0.9); }

.picture:hover .layer {
  display: block; }

/*TEAM */
.team {
  text-align: center; }

.person {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  position: relative; }

.team-person, .team .person-1, .team .person-2, .team .person-3, .team .person-4 {
  background-size: cover; }

.team .person-1 {
  background-image: url(https://images.pexels.com/photos/412840/pexels-photo-412840.jpeg?h=350&auto=compress&cs=tinysrgb); }
.team .person-2 {
  background-image: url(https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb); }
.team .person-3 {
  background-image: url(https://images.pexels.com/photos/324658/pexels-photo-324658.jpeg?h=350&auto=compress&cs=tinysrgb); }
.team .person-4 {
  background-image: url(https://images.pexels.com/photos/38554/girl-people-landscape-sun-38554.jpeg?h=350&auto=compress&cs=tinysrgb); }
.team h2 {
  font-size: 20px; }

.profession {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: rgba(76, 76, 78, 0.9);
  position: absolute;
  display: none; }
  .profession p {
    padding: 80px 0;
    font-size: 24px;
    color: #FFF;
    text-align: center; }

.person:hover .profession {
  display: block; }

/*PHONE */
.phone {
  background: rgba(76, 76, 78, 0.9);
  background-size: cover; }
  .phone p {
    color: #FFF; }
  .phone img {
    width: 100%;
    height: 33.33%;
    position: relative;
    object-fit: cover; }
  .phone h2 {
    font-size: 30px;
    color: #FFF; }

/*NUMBERS */
.numbers {
  text-align: center; }
  .numbers h2 {
    font-size: 35px;
    font-family: "Chewy"; }
  .numbers p {
    font-size: 20px;
    text-transform: uppercase;
    color: #4099FF; }

/*FOOTER */
footer {
  background-color: #313234; }
  footer h2, footer p {
    color: #FFF; }
  footer h2:after {
    content: "";
    border: 2px solid #FFF;
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    margin-left: 6px; }
  footer .social .fa {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    border-radius: 10%;
    content: "";
    width: 35px;
    height: 35px;
    background-color: #4099FF;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    margin: 3px;
    padding: 7px 0;
    cursor: pointer;
    transition: 0.4s; }
  footer .fa:hover {
    background-color: #FFF;
    color: #4099FF; }
  footer .copyrights {
    background-color: #1c1c1d;
    margin-top: 60px;
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: #FFF; }

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  nav > ul > li {
    display: block;
    width: 100%;
    text-align: center; }

  header > nav {
    text-align: center; }
    header > nav > ul {
      float: none; }

  .picture img, .picture .layer {
    height: 100vw; }

  .benefits h2, .numbers p {
    font-size: 15px;
    word-break: break-all; }

  .phone {
    text-align: center; }

  footer .social .fa {
    width: 32px;
    height: 32px;
    font-size: 18px; } }
@media (max-width: 991px) {
  footer {
    text-align: center; }
    footer h2:after {
      display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .picture img, .picture .layer {
    height: 50vw; }

  footer .get-in-touch .row > :nth-child(1) {
    text-align: right; }
  footer .get-in-touch .row > :nth-child(2) {
    text-align: left; } }
